body {
  font-family: "Vollkorn", serif !important;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color:#514544 !important;
  background:#f6f5f3 !important;
}

::-moz-selection { /* Code for Firefox */
  color:#514544;
  background:#cdc1aa;
}

::selection {
  color:#514544;
  background:#cdc1aa;
}

.primary {
  color:#f88379;
}

a, a:hover {
  transition: all 0.7s;
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
}

h1,h2,h3,h4 {
   margin-bottom:1.5rem !important;
   font-weight:600 !important;
}

body a {
    color:#514544 !important;
    text-decoration:underline;
}


b, strong {
    font-weight: 700 !important;
}

.uc {
    text-transform:uppercase;
}


.logo {
   max-width:290px;
   margin:20px auto 20px 0;
   mix-blend-mode: luminosity;
}

.intro h3 {
  font-weight:300 !important;
  max-width:520px;
  margin:0 auto;
}

main h1 {
    text-transform:uppercase;
}

footer {
    text-align:center;
    padding-top:2rem !important;
    padding-bottom:2rem !important;
}

footer small {
    color:#b9b59f;
      padding-bottom:280px;
}

#copyLink {
    padding: 20px 0;
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #f88379 !important;
}

#copyLink:hover {
    padding: 20px 0;
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #212529 !important;
}

#copyLink svg {
    height:24px;
    width:24px;
}



/*synopsis content*/

.synopsis-content {

}

.synopsis-content, main {
  text-align:center !important;
  font-size:2rem;
  position:relative;
  padding-bottom:2rem;
}

.mist {
 pointer-events: none;
  position: fixed;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 65vh;
}

.blur-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33.33vh; /* 1/3 of the viewport height */
  backdrop-filter: blur(10px); /* Adjust the blur intensity */
  z-index: 10;
  pointer-events: none; /* Ensures you can still click through the blurred area */
}

/* search engine */

.search {
    padding: 0 0 0 0;
    /*border-bottom: 1px solid #c0bbb9;*/
    margin-bottom: 30px;
    z-index:999;
    position:relative;
}

.search input {
    padding:1rem;
    max-width:356px;
    margin:0 auto;
    background:url(img/ico-magnifier.png) no-repeat center right #fff;
    background-size:36px;
}

.form-control:focus {
  border-color: #c0bbb9 !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25) !important;
}

#results {
    padding:1rem;
}

#results .result {
    padding:1rem;
    padding: 20px 0;
    border-bottom: 1px solid #ced4da;
}

#results .result a {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

#marquee-container {
     margin-top: -40px;
     margin-bottom: 10px;
     overflow: hidden;
     white-space: nowrap;
     box-sizing: border-box;
     width: 100%;
     padding: 10px 0;
}
 #marquee-content {
     display: inline-block;
     white-space: nowrap;
     animation: marquee 120s linear infinite;
 }
 #marquee-content a {
     font-size:1.6rem;
     text-transform:uppercase;
     margin: 0 15px;
     text-decoration: none;
     color: #007bff;
     opacity: 0.3;
 }
 #marquee-content a:hover {
   opacity:1;
   border-bottom:1px solid #514544;
}
 @keyframes marquee {
   0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
 }
